.bg-king{
    background-color: #303030;
}

.bg-KING{
    background-color: #202020e3;
    
    /*background-image: url('../img/background.jpg');*/
}

.bg-king_50{
    background-color: #505050;
}

.text-black{
    color: black;
}

.forms_center{
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.empyt_image{
    width: 450px;
    height: 100px;
    position: absolute;
    left: calc((100% - 450px)/2);
    bottom: 50%;
    z-index: 99999999
  }